@model Department
@{
    ViewData["Title"] = "DeleltePage";
}

<h1>Delelte @Model.Name</h1>
<div asp-validation-summary="All"></div>

<form asp-action="Delete">
    <div class="form-group">
        <label asp-for="@Model.Code" class="col-form-label" ></label>
        <input readonly asp-for="@Model.Code" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Name" class="col-form-label" ></label>
        <input readonly asp-for="@Model.Name" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="@Model.DateOfCreation" class="col-form-label" ></label>
        <input readonly asp-for="@Model.DateOfCreation" class="form-control"/>
    </div>
     
 <div>
    <input type="submit" value="Delete"  class="btn btn-danger"/> | 
    <a asp-action="Index" class="btn btn-secondary"> Back To List </a>

 </div>
</form>