@model IEnumerable<EmployeeViewModel>

@{
    ViewData["Title"] = "All Employees";
}


<a asp-action="Create" class="btn btn-success"> Create Employee</a>

@if(TempData["M3"] is not null)
{
    <div class=" alert alert-success">
        @*ViewBag.Message *@
        @TempData["M3"]
    </div>
}

@if(Model.Count() > 0)
{
    <h1> All Employees </h1>
   <br />
   <div class="row mt-5 mb-3">
       <form asp-action="Index" class="row">
           <div class="col-8">
               <input type="text" name="SearchValue" placeholder="Enter Empoylee name"/>
           </div>
           <div class="col-4">
               <input type="submit" value="Search" >
           </div>
       </form>
   </div>


    <table class="table table-striped table-hover mt-3">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(e => e.Name)</td>
                <td>@Html.DisplayNameFor(e => e.Image)</td>
                <td>@Html.DisplayNameFor(e =>e.Age)</td>
                <td>@Html.DisplayNameFor(e => e.Salary)</td>
                <td>@Html.DisplayNameFor(e => e.Department)</td>
                <td>@Html.DisplayNameFor(e=>e.Address)</td>
                <td>@Html.DisplayNameFor(e=>e.IsActive)</td>
                <td>@Html.DisplayNameFor(e=>e.Email)</td>
                <td>@Html.DisplayNameFor(e=>e.PhoneNumber)</td>
                <td>@Html.DisplayNameFor(e=>e.HireDate)</td>
                <td>Details</td>
                <td>Update</td>
                <td>Delete</td>
            </tr>
        </thead>


        <tbody> 
            @foreach(var emp in Model)
            {
                <tr>
                    <td>@emp.Name</td>
                    <td > <img  class="rounded" hight="35" width="35" alt="Employee's Image'" src="~/Files/Images/@emp.ImageName"/></td>
                    <td>@emp.Age</td>
                    <td>@Html.DisplayFor(E=>emp.Salary)</td>
                    <td>@Html.DisplayFor(E=>emp.Department.Name)</td>
                    @*<td>@emp.Department.Name</td>*@
                    <td>@emp.Address</td>
                    @*<td>@Html.DisplayFor(E=> emp.IsActive)</td>*@
                    <td>
                        @if(emp.IsActive == true)
                        {
                            <b style="color:green "> Active</b>

                        }else
                        {
                             <b style="color:red "> Active</b>

                        }

                    </td>
                    <td>@Html.DisplayFor(E=>emp.Email)</td>
                    <td>@Html.DisplayFor(E=> emp.PhoneNumber)</td>
                    <td>@emp.HireDate</td>
                    <partial name="_ButtonsPartialView" model="emp.Id.ToString()"/>
                </tr>
            }
        </tbody>
    </table>


}

else
{
    <div>
        <h1> There is No Employees </h1>
    </div>
}



